
.texto{
    text-align: justify;
    color:black;
    padding:10%;
    background-color: blue;
}

.encabezado{
    background-color: aquamarine;
}

.contenido{
    background-color: aqua;
}

.parrafo{
    text-align: justify;
    color: black;
    padding: 10%;
}