<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="MostrarMenu()" color="danger">
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
        
      </ion-button>
    </ion-buttons>
    <ion-title>card</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <ion-card style="background-color: #1c347c;">

    <ion-card-header class="encabezado">
      <ion-card-title style="color:#ffffff; font-weight: bold;">Sobre Nosotros:</ion-card-title>
    </ion-card-header>
    <ion-card-content class="contenido" style="background-color: #1a3074;">
      <p class="parrafo">
        Nosotros somos RegistrAPP un equipo encargado de facilitar en gran medida el registro de asistencia
        para que tanto alumnos como profesores tengan una tarea mucho más sencilla.
        Nuestra mision es que la asistencia en clases se tome de forma rapida y facil para que nadie tenga problemas.

      </p>
    </ion-card-content>
    <img src="assets/icon/Duoc.jpg" class="ion-padding" style="background-color: #077d7d;">
  
  </ion-card>


</ion-content>
